body {
	font-family: sans-serif;
}

.card {
	width: 300px;
	background-color: aliceblue;
	padding: 5px;
	padding-left: 10px;
}

.form-input {
	padding: 10px 0;
}

label {
	font-weight: bold;
	font-size: small;
}

label::after {
	content: ': ';
}

#save-image-btn {
	border-radius: 5px;
	border-width: 0;
	background-color: rgb(213, 225, 234);
	padding: 5px 10px;
}

#save-image-btn:hover {
	background-color: rgb(167, 172, 179);
}
